<!DOCTYPE html>
<html lang="en">
<head>
                                                              <!-- metadata start -->
    <title>Belgium Photographer - Ahmad Hendi - Photographer & Videographer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height"/>
    <meta name="google-site-verification" content="nnEfAm3RmXrDoA8V59vBDLj3E621RItTB62pXuVHeAQ" />
    <meta name="description" content="Best Photographer and Videographer in Brussels, Antwerp, Liège, Gent, Bruges, Namur, Leuven, Hasselt, Charleroi, and all other cities.
    Bring your imagination to reality with the photographer and Videographer Ahmad Hendi. Based in Belgium Brussels. Wedding Photographer Fashion Photographer Product photographer Food photographer.">
    <meta name="author" content="Ahmad Hendi">

                                                              <!-- Open Graph start -->
    <!-- <meta property="fb:app_id‎" content="Ahmad Hendi"> -->
    <meta property="og:title" content="Belgium Photographer - Ahmad Hendi - Photographer & Videographer">
    <meta property="og:description" content="Best Photographer and Videographer in Brussels, Antwerp, Liège, Gent, Bruges, Namur, Leuven, Hasselt, Charleroi, and all other cities.
    Bring your imagination to reality with the photographer and Videographer Ahmad Hendi. Based in Belgium Brussels. Wedding Photographer Fashion Photographer Product photographer Food photographer.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.ahmadhendi.com/">
    <meta property="og:site_name" content="Ahmad Hendi">
    <meta property="og:image" content="http://www.ahmadhendi.com/public/images/aboutme2.png">
    <meta property="og:image:alt" content="Ahmad Hendi">
    <meta property="og:image:width" content="1350">
    <meta property="og:image:height" content="1080">
    


                                                              <!-- Open Graph end -->
                                                          <!-- *********************** -->
                                                              <!-- itemprop start -->
    <meta itemprop="name" content="Belgium Photographer - Ahmad Hendi - Photographer & Videographer">
    <meta itemprop="description" content="Best Photographer and Videographer in Brussels, Antwerp, Liège, Gent, Bruges, Namur, Leuven, Hasselt, Charleroi, and all other cities.
    Bring your imagination to reality with the photographer and Videographer Ahmad Hendi. Based in Belgium Brussels. Wedding Photographer Fashion Photographer Product photographer Food photographer.">
    <meta itemprop="image" content="http://www.ahmadhendi.com/public/images/aboutme2.png">
                                                              <!-- itemprop end -->

                                                                    <!-- metadata end -->

                                                                  <!-- style sheet start -->
    <link rel="stylesheet" type="text/css" href="../public/css/aboutme.css">
    <link rel="icon" type="image/png" href="../public/images/logo.png">
                                                                   <!-- style sheet end -->

    <!-- <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css"> -->
    
    
                                                                      <!--cdn start --> 
    <!--cdn for hover effect start--> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <!--cdn for hover effect end--> 
    
    
    <!--cdn block reveal effect start -->   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <!--cdn block reveal effect ends -->   
                                                                      <!-- cdn end -->   
</head>

<body>
  <!-- <audio  src="../public/audio/IntroSoundEffect.mp3" autoplay controls hidden></audio> -->
  <!-- <button onclick="play()">Play Audio</button> -->
  <!-- <iframe src="../public/audio/IntroSoundEffect.mp3" onloadedmetadata="this.muted = false" playsinline autoplay hidden></iframe> -->

                                                            <!-- block reveal effect & landig page start  -->
                                                  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <div class="containerLanding">
      <!-- navBar -->
    <div class="navBar" >
      <p  onclick="javascript:window.location.href='shop'"> shop</p >
      <img src="../public/images/logo.png" alt="">
    </div>
      <!-- video -->
    <div  class="videoBox" >
      <video id="resumeVideo" onloadedmetadata="this.muted = true" playsinline autoplay muted loop controls></video>
    </div>
      <!-- socialMedia -->
    <div class="socialMedia">
      <a href="https://www.instagram.com/p/B0LsvcoirYr/"> <i class="fab fa-instagram"></i></a>
      <a href="https://github.com/Ahmad-Hendi?tab=repositories"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/ahmad-hendi-/"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:info@ahmadhendi.com" target="blank"><i class="fas fa-envelope"></i></a>
    </div>
                                                                      <!-- block reveal start -->
			<div class="titles">
				<div class="title title-1"><h3>Create</h3></div>
				<div class="title title-2"><h3>With</h3></div>
				<div class="title title-3"><h3>Me</h3></div>
			</div>
			<ul class="blocks">
				<li class="block-1 block"></li>
				<li class="block-2 block"></li>
				<li class="block-3 block"></li>
				<li class="block-4 block"></li>
				<li class="block-5 block"></li>
				<li class="block-6 block"></li>
      </ul>
  </div>

                                                                  <!-- block reveal effect end -->
                                                            <!-- block reveal effect & landig page end  -->
                                                  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                                                                    <!-- services start -->
                                                  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <section class="services">
    <div class="myServicesTitle" >
      <h2>
      Services
      </h2>
    </div>
    <div class="myServices">
        <div class="photography" onclick="javascript:window.location.href='photography'" ></div>
        <div class="videography" onclick="javascript:window.location.href='workshop'" ></div>
        <!-- <div class="digital" onclick="javascript:window.location.href='digital'" ></div> -->
    </div>
  </section>
                                                                        <!-- services end -->
                                                <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                                                                        <!-- end of home start -->    
                                                  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <div class="container">
        <div id="imgMe" >
            <img src="../public/images/aboutme.png" itemprop="name" alt="Ahmad Hendi">
        </div>
        <div class="text-container">
            <div class="revlant">
                <h1 id="iAm">i'm : </h1>
                <h1 class="typing"> </h1>
            </div>
            <div class="test">
                <h2 class="developer" itemprop="services"> Photographer & Videographer </h2>
                <p id="dev-text">Over 4 years of experience in Photography & 
                  Videography + 9 years of experience 
                  working with Adobe Cloud especially photoshop. <br>
                  Seeking to craft memorable images. Shot the 
                  picture for Belgium national day.
                  Don't hesitate to check it out on  <a href="https://www.instagram.com/p/B0LsvcoirYr/"><span style="color: #e7a226;">@Ahmad_Hendi_</span></a>.
                </p>
                <!-- <a id="cv" href="../public/images/CV_Ahmad_Hendi_ContentCreator.pdf" download="Ahmad_Hendi_CV Ahmad Hendi" class="btn">download my resume ⇣</a> -->
            </div>
        </div>
     </div>
                                                                        <!-- end of home aboutMe -->    
                                                  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->



                                                                          <!-- Form start  -->
                                                  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!-- <section class="contact-me">
      <div class="container-contact-me">
        <div class="user singupBx"> 
          <div class="formBx">
            <form action="register" method="POST">
                <h2>Contact Me</h2>
                <input type="text" name="firstName" placeholder="First name">
                <input type="text" name="email" placeholder="Email">
                <textarea name="message" id="" cols="30" rows="5" placeholder="message"></textarea>
                <button type="submit">submit</button>
              </form>
            </div>
          </div>    
        </div>
    </section> -->
                                                                              <!-- Form End  -->
                                                  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  
    
  
  
 
                                                                            <!-- Scripts start -->
                                                                        <!-- sssssssssssssssssssss -->
  
    <!-- BlockRevalIntro start -->
    <script src="../public/js/BlockRevalIntro.js"></script>
    <!-- BlockRevalIntro end -->
        
    <!--cdn for liquify effect start-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/106/three.min.js" integrity="sha512-aqhdrigR8ePLi7IhiGrZz4APv1VktO5eCavRmavrNSk1Ut/s/WVlDwH94SeCqAiM0lm/s8mjtjaDhfevv2Zauw==" crossorigin="anonymous"></script>
    
    <script src="../public/js/hover.js"></script>
    <script src="../public/js/hoverScript.js"></script>
    <!--cdn for liquify effect end-->

    


            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.js"></script>     

    <script src="https://kit.fontawesome.com/0d2578b465.js" crossorigin="anonymous"></script> 
    <script src="../public/js/parallax.js"></script> 
    <script src="../public/js/hoverEffect.js"></script>
    <script src="../public/js/script.js"></script>  
    <script src="../public/js/slider.js"></script> 
    <!-- <script src="../public/js/swipEffect.js"></script>  -->
    <!-- <script src="../public/js/ChangeColorOnScroll.js"></script>  -->
    <script src="../public/js/revlantOnLoad.js"></script> 
    <script src="../public/js/changeVidoe.js"></script> 
    <script src="../public/js/loader.js"></script> 

                                                                            <!-- Scripts end -->
                                                                        <!-- sssssssssssssssssssss -->    
</body>
</html>
