<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/Contact.css" />
    <title>Contact Me</title>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <div class="marquee">
      <span>
        contact me / contact me /contact me /contact me /contact me /contact me
        /contact me /contact me /contact me /contact me /contact me /contact me
        /contact me /
      </span>
    </div>
    <!-- Contact-section starts -->
    <div class="contact-section">
      <div class="contact-us col">
        <p>
          Let's join forces and <br />
          create something amazing 🔥 <br />
          Reach out.
        </p>
        <!-- Social media starts -->
        <div class="social-media item">
          <h3>Social Media</h3>
          <span>TikTok - Instagram - YouTube - Pinterset</span>
        </div>
        <!-- Social media end -->
        <!-- email stars -->
        <div class="contact-info">
          <div class="email item">
            <h3>Get in touch</h3>
            <span>Info@ahmadhendi.com</span>
          </div>
          <!-- email ends -->
          <!-- location starts -->
          <div class="address item">
            <h3>location</h3>
            <span>Belgium - Brussels </span>
          </div>
        </div>
      </div>
      <!-- Contact Form Starts -->
      <div class="contact-form col">
        <div class="wrapper">
          <div class="row">
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Budget" />
          </div>
          <div class="row">
            <input type="text" placeholder="Email" />
            <input type="text" placeholder="Company" />
          </div>
          <div class="row">
            <textarea
              name=""
              id="message"
              placeholder="Message"
              cols="30"
              rows="5"
            ></textarea>
            <div class="row submit">
              <a href="#">Submit</a>
              <div class="send-icon">
                <ion-icon name="arrow-forward-sharp"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact Form ends -->
    </div>
    <!-- Contact-section ends -->
  </body>
</html>
