<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="Ahmad" content="Ahmad Hendi @Ahmad Hendi">
    <title>Exhibition</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height"/>
    <meta name="google-site-verification" content="nnEfAm3RmXrDoA8V59vBDLj3E621RItTB62pXuVHeAQ" />
    <meta name="description" content="Ahmad Hendi Belgian photographer - discover photography through my lens +32472 29 29 80">
    <meta name="author" content="Ahmad Hendi">

                                                              <!-- Open Graph start -->
    <!-- <meta property="fb:app_id‎" content="Ahmad Hendi"> -->
    <meta property="og:title" content="Belgian photographer - Ahmad Hendi - Photographer & Videographer">
    <meta property="og:description" content="Ahmad Hendi Belgian photographer - discover photography through my lens +32472 29 29 80">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.ahmadhendi.com/">
    <meta property="og:site_name" content="Ahmad Hendi">
    <meta property="og:image" content="http://www.ahmadhendi.com/public/images/aboutme2.png">
    <meta property="og:image:alt" content="Ahmad Hendi">
    <meta property="og:image:width" content="1350">
    <meta property="og:image:height" content="1080">
    


                                                              <!-- Open Graph end -->
                                                          <!-- *********************** -->
                                                              <!-- itemprop start -->
    <meta itemprop="name" content="Belgian photographer - Ahmad Hendi - Photographer & Videographer">
    <meta itemprop="description" content="Ahmad Hendi Belgian photographer - discover photography through my lens +32472 29 29 80">
    <meta itemprop="image" content="http://www.ahmadhendi.com/public/images/aboutme2.png">
                                                              <!-- itemprop end -->

                                                                    <!-- metadata end -->

    <!-- stylesheet -->
    <link rel="stylesheet" href="../public/css/Exhibition.css" />

    <!-- fav Icon -->
    <link rel="icon" type="image/png" href="../public/images/logo.png">

    <!-- greensock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- locomotive-scroll -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css">

    <script src="https://kit.fontawesome.com/0d2578b465.js" crossorigin="anonymous"></script> 

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>
</head>

<body id="js-scroll">
    <div class="wrapper">

        <div class="GoBack">
            <a href="/">Home</a>
        </div>

        <!-- project section -->
        <div class="project__container" data-scroll-section>

            <div class="project__container-title" data-scroll>
                <h1 class="anime-js-title">Exhibition</h1>
            </div>
            <div class="project__container-subtitle" data-scroll>
                <p> There are some of the nominated pictures to be in the exhibition, as i plan to take exclusive pictures only for the exhibition.</p>
            </div>

            <div class="project__container-images">

                <div class="project__image project__image-one" data-scroll data-scroll-speed="1"></div>


                <div class="project__image project__image-three" data-scrol data-scroll-speed="2"></div>


                <div class="project__image project__image-four" data-scroll data-scroll-speed="2s"></div>
          

                <div class="project__image project__image-five" data-scroll data-scroll-speed="3"></div>

                <div class="project__image project__image-six" data-scroll data-scroll-speed="3"></div>

                <div class="project__image project__image-seven" data-scroll data-scroll-speed="3"></div>

                <div class="project__image project__image-eight " data-scroll data-scroll-speed="3"></div>
                
                <p>If you have any comment on the pictures, feel free to tell me</p>
            </div>

            <div class="project-next-link" data-scroll>
                <p>Let's create unforgettable memories together 🧡</p>
            </div>
            <div class="socialMedia">
                <a href="https://www.instagram.com/p/B0LsvcoirYr/" target="blank"> <i class="fab fa-instagram"></i></a>
                <a href="https://github.com/Ahmad-Hendi?tab=repositories"target="blank"> <i class="fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/ahmad-hendi-/" target="blank"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:info@ahmadhendi.com" target="blank"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../public/js/horizontal-scroll-script.js"></script>
</body>

</html>