<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital</title>
    <meta name="Ahmad" content="Ahmad Hendi @Ahmad Hendi">

    <!-- stylesheet -->
    <link rel="stylesheet" href="../public/css/digital.css" />

    <!-- greensock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- locomotive-scroll -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css">

    <!-- baffle effec cdn  -->
    <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>

    <!-- hover projects cdn start -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <!-- hover projects cdn end -->

    <!-- icons cdn -->
    <script src="https://kit.fontawesome.com/0d2578b465.js" crossorigin="anonymous"></script> 

    <!-- fade cdn -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>
</head>

<body id="js-scroll">
    <div class="wrapper">

        <!-- menu -->
        <!-- <nav class="menu">
            <div class="menu__logo">
                <a href="/">
                    <img src="../public/images/logo.png" alt="Ahmad Hendi" id="logo">
                </a>
            </div>
            <div class="menu__items">
                <div class="menu__items-link"><a href="index.html">Projects</a></div>
                <div class="menu__items-link"><a href="about.html">About</a></div>
            </div>
        </nav> -->

        <!-- project section -->
        <div class="project__container" data-scroll-section>

            <div class="project__container-title" data-scroll>
                <h1 class="anime-js-title" id="myParagraph">Welcome to my world</h1>
            </div>
            <div class="project__container-subtitle" data-scroll>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis iusto earum dolor sit laboriosam architecto corrupti obcaecati. 
                    Debitis, alias dicta architecto blanditiis nulla repellendus libero harum corporis accusamus tempore! Doloribus!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur nam, corporis ex est blanditiis labore dolorum, a magnam, 
                    ipsa cumque maiores repudiandae voluptate voluptatibus reiciendis necessitatibus perferendis veritatis nostrum aspernatur.
                </p>
            </div> 
         
              <!-- navigation start  -->
            <div class="container-menu">
              <nav class="menu">
                <a href="https://weather-app-ahmad.herokuapp.com/" class="menu-item">
                    <span>Weather App</span>
                    <div class="hover-reveal">
                        <div class="hover-reveal__inner">
                            <div class="hover-reveal__img one"></div>
                        </div>
                    </div>
                </a>
                <a href="https://nextflix-ahmad.herokuapp.com/login.php" class="menu-item">
                    <span>Nextflix</span>
                    <div class="hover-reveal">
                        <div class="hover-reveal__inner">
                            <div class="hover-reveal__img two"></div>
                        </div>
                    </div>
                </a>
                <a href="https://fathomless-escarpment-72671.herokuapp.com/" class="menu-item">
                    <span>Ecommerce</span>
                    <div class="hover-reveal">
                        <div class="hover-reveal__inner">
                            <div class="hover-reveal__img three"></div>
                        </div>
                    </div>
                </a>
                <a href="https://ahmad-hendi.github.io/simple-landing-page-animation-one/" class="menu-item">
                    <span>SimplelandingPage</span>
                    <div class="hover-reveal">
                        <div class="hover-reveal__inner">
                            <div class="hover-reveal__img four"></div>
                        </div>
                    </div>
                </a>
                <a href="https://ahmad-hendi.github.io/Bouman-Johnson-Housing-Project/" class="menu-item">
                    <span>House Predicting</span>
                    <div class="hover-reveal">
                        <div class="hover-reveal__inner">
                            <div class="hover-reveal__img five"></div>
                        </div>
                    </div>
                </a>
                <a href="https://ahmad-hendi.github.io/API-Sprint/" class="menu-item">
                    <span>Animals Lovers</span>
                    <div class="hover-reveal">
                        <div class="hover-reveal__inner">
                            <div class="hover-reveal__img six"></div>
                        </div>
                    </div>
                </a>
              </nav>
            </div>

            <div class="project-next-link" data-scroll>
                <a href="/">Find me on</a>
            </div>
            <div class="socialMedia">
                <a href="https://www.instagram.com/p/B0LsvcoirYr/" target="blank"> <i class="fab fa-instagram"></i></a>
                <a href="https://github.com/Ahmad-Hendi?tab=repositories"target="blank"> <i class="fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/ahmad-hendi-/" target="blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.ahmadhndi10@gmail.com" target="blank"><i class="fas fa-envelope"></i></a>
              </div>
        </div>
    </div>

    <script>
      let links = document.querySelectorAll('.menu-item')
      let linkImages = document.querySelectorAll('.hover-reveal__img')

      links.forEach((link, idx) => {
        link.addEventListener('mousemove', (e) => {
          link.children[1].style.opacity = 1;
          link.children[0].style.zIndex = 3;
          link.children[1].style.transform = `translate(${e.clientX - 300}px, -${e.clientY / 3}px) rotate(${e.clientX / 20}deg`;
          linkImages[idx].style.transform = 'scale(1, 1)'
          link.style.zIndex = 2;
        })

        link.addEventListener('mouseleave', (e) => {
          link.children[1].style.opacity = 0;
          link.children[1].style.transform = `translate(${-e.clientX}px, - 300px)`;
          linkImages[idx].style.transform = 'scale(0.8, 0.8)'
          link.style.zIndex = 0;
        })

      })

    </script>

    <script src="../public/js/horizontal-scroll-script.js"></script> -->
    <script src="../public/js/baffle.js"></script>
    <script src="../public/js/hoverEffect.js"></script>
</body>

</html>