<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/Gallery.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <nav
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1000"
    >
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/presets">Presets</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/photographyworkshop">WorkShop</a></li>
        <li><a href="">contact</a></li>
      </ul>
    </nav>

    <!-- Header -->
    <div class="header">
      <h1
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        Gallery
      </h1>
    </div>

    <div class="info" data-aos="zoom-in" data-aos-duration="1000">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        doloremque illum fuga dolorum recusandae ab unde sed voluptatum quam
        consequatur, mollitia corporis similique tempora nihil sequi sapiente
        ipsam voluptas adipisci.
      </p>
    </div>

    <!-- Photo Grid -->
    <div class="row">
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/The red night.png"
          style="width: 100%"
        />
        <h3>The title</h3>
        <p>3€</p>
        <p>see details</p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/The magic circlas.png"
          style="width: 100%"
        />
        <h3>The title</h3>
        <p>3€</p>
        <p>see details</p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/The Marols.png"
          style="width: 100%"
        />
        <h3>The title</h3>
        <p>3€</p>
        <p>see details</p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/Breaking the dark.png"
          style="width: 100%"
        />
        <h3>The title</h3>
        <p>3€</p>
        <p>see details</p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/leaving the world.png"
          style="width: 100%"
        />
        <h3>The title</h3>
        <p>3€</p>
        <p>see details</p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/Debroucker.png"
          style="width: 100%"
        />
        <h3>The title</h3>
        <p>The price</p>
        <p>see details</p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/AtomiumNewYear.png"
          style="width: 100%"
        />
        <h3>The title</h3>
        <p>3€</p>
        <p>see details</p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/AtomiumNewYear.png"
          style="width: 100%"
        />
        <h3>The title</h3>
        <p>3€</p>
        <p>see details</p>
      </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
