<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/Gallery.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Gallery</title>
  </head>
  <body>
    <nav
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1000"
    >
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/presets">Presets</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/workshop">WorkShop</a></li>
        <li><a href="">contact</a></li>
      </ul>
    </nav>

    <!-- Header -->
    <div class="header">
      <h1
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        Gallery
      </h1>
    </div>

    <div class="info" data-aos="zoom-in" data-aos-duration="1000">
      <p>
        The Split Second Collection is a photo gallery showcasing a series of
        photographs taken in the moment.
        <br />
        <br />
        Showing the beauty and magic of the night, moreover the collection
        features bright and vibrant scenes, capturing the energy and life of the
        world in motion.
        <br />
        <br />
        ↓
      </p>
      <!-- <p>
        Each photo captures a unique split-second moment in time, showcasing 

        These artworks are available in high resolution. <br />
        <span style="color: green">
          Once you purchase an artwork you can print it in the size you wish
          moreover the quantity you want.</span
        >
        <br />
        Besides, you don't need to spend more money when you wish to have a
        bigger size prints furthermore you can print it as much as you wish
      </p> -->
    </div>

    <!-- Photo Grid -->
    <div class="row">
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/UnforeseenRendezvous.png"
          style="width: 100%"
        />
        <h3>Unforeseen Rendezvous</h3>
        <p>99€</p>
        <p>see details</p>
        <p>
          <span
            style="color: #e91e63; font-family: avenir next; font-size: 0.6rem"
            >limited-collectionª
          </span>
        </p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <a href="TheRedMoon">
          <img
            src="../public/images/Gallery/The red night.png"
            style="width: 100%"
          />
        </a>
        <h3>The Red Moon</h3>
        <p>choose your own price</p>
        <a
          href="TheRedMoon
        "
          >see details</a
        >
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <a href="TheMagicCircles">
          <img
            src="../public/images/Gallery/The magic circlas.png"
            style="width: 100%"
          />
        </a>
        <h3>The Magic Circles</h3>
        <p>choose your own price</p>
        <a
          href="TheMagicCircles
        "
          >see details</a
        >
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <a href="LesMarolles">
          <img
            src="../public/images/Gallery/The Marols.png"
            style="width: 100%"
          />
        </a>
        <h3>Les Marolles</h3>
        <p>choose your own price</p>
        <a
          href="LesMarolles
        "
          >see details</a
        >
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <a href="BreakingTheDark">
          <img
            src="../public/images/Gallery/Breaking the dark.png"
            style="width: 100%"
          />
        </a>
        <h3>Breaking The Dark</h3>
        <p>290€</p>
        <a href="BreakingTheDark">see details</a>
        <p>
          <span
            style="color: #e91e63; font-family: avenir next; font-size: 0.6rem"
            >limited-collectionª
          </span>
        </p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <img
          src="../public/images/Gallery/Debroucker.png"
          style="width: 100%"
        />
        <h3>De Brouckère</h3>
        <p>15€</p>
        <p>see details</p>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <a href="/AnotherDimension">
          <img
            src="../public/images/Gallery/SuperNove.png"
            style="width: 100%"
          />
        </a>
        <h3>Another Dimension</h3>
        <p>210€</p>
        <a href="AnotherDimension">see details</a>
      </div>
      <div
        class="column"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1000"
      >
        <a href="DayOut">
          <img src="../public/images/Gallery/DayOut.png" style="width: 100%" />
        </a>
        <h3>Day Out</h3>
        <p>39€</p>

        <a href="DayOut">see details</a>
        <p>
          <span
            style="color: #e91e63; font-family: avenir next; font-size: 0.6rem"
            >limited-collectionª
          </span>
        </p>
      </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
