<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/layout.css">
    
    <title>ahmad hendi</title>
</head>
<body>
<section>
<div class="container">
        <div class="test">
            <h3 id="my-work"><a href="http://127.0.0.1:5500/views/IMPOSSIBLE.html"> My Work</a></h3>
            <h3 id="my-name">Ahmad Hendi </h3>
            <h3 id="info"><a href="http://127.0.0.1:5500/views/aboutme.html"> about me</a></h3>
        </div>  
    <div class="box-text">
        <h1>HELLO</h1>
        <div class="text">
            <p>a user interface is like a joke ▻ if you have to explain it , it's not that good ▿</p>

        </div>
    </div>
    
    <div class="footer">
        <div class="color-one"></div>
        <div class="color-two"></div>
        <div class="color-thre"></div>
        <div class="social-media">
            <ul>
                <a href="#"><i class="fab fa-github-square"></i> </a>
                <a href="#"><i class="fab fa-github-square"></i> </a>
                <a href="#"><i class="fab fa-github-square"></i> </a>
            </ul>
        </div>
    </div>  

</div>
           
            
          
                
</section>
        

           
        

       
            
        
<script src="https://kit.fontawesome.com/0d2578b465.js" crossorigin="anonymous"></script>
      <script src="../public/js/script.js"></script>
</body>
</html>