<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
    <link rel="stylesheet" href="../public/css/styleimpossible.css">
    <title>IMPOSSIBLE</title>
</head>
<body>
    <h2><span>I</span>M<span>POSSIBLE</span></h2>
    
</body>    
</html>
