<!DOCTYPE html>
<html lang="en">
<head>
                                                              <!-- metadata start -->
    <title>Belgian photographer - Ahmad Hendi - Photographer & Videographer</title>
    <meta charset="UTF-8">
    <meta name="facebook-domain-verification" content="oiu73b3jwy1054odwt23q1k1ddewza" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height"/>
    <meta name="google-site-verification" content="nnEfAm3RmXrDoA8V59vBDLj3E621RItTB62pXuVHeAQ" />
    <meta name="description" content="Best Photographer and Videographer in Brussels, Antwerp, Liège, Gent, Bruges, Namur, Leuven, Hasselt, Charleroi, and all other cities.
    Bring your imagination to reality with the photographer and Videographer Ahmad Hendi. Based in Belgium Brussels. Wedding Photographer Fashion Photographer Product photographer Food photographer.">
    <meta name="author" content="Ahmad Hendi">

                                                              <!-- Open Graph start -->
    <!-- <meta property="fb:app_id‎" content="Ahmad Hendi"> -->
    <meta property="og:title" content="Belgian photographer - Ahmad Hendi - Photographer & Videographer">
    <meta property="og:description" content="Best Photographer and Videographer in Brussels, Antwerp, Liège, Gent, Bruges, Namur, Leuven, Hasselt, Charleroi, and all other cities.
    Bring your imagination to reality with the photographer and Videographer Ahmad Hendi. Based in Belgium Brussels. Wedding Photographer Fashion Photographer Product photographer Food photographer.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.ahmadhendi.com/">
    <meta property="og:site_name" content="Ahmad Hendi">
    <meta property="og:image" content="http://www.ahmadhendi.com/public/images/aboutme2.png">
    <meta property="og:image:alt" content="Ahmad Hendi">
    <meta property="og:image:width" content="1350">
    <meta property="og:image:height" content="1080">
    


                                                              <!-- Open Graph end -->
                                                          <!-- *********************** -->
                                                              <!-- itemprop start -->
    <meta itemprop="name" content="Belgian photographer - Ahmad Hendi - Photographer & Videographer">
    <meta itemprop="description" content="Best Photographer and Videographer in Brussels, Antwerp, Liège, Gent, Bruges, Namur, Leuven, Hasselt, Charleroi, and all other cities.
    Bring your imagination to reality with the photographer and Videographer Ahmad Hendi. Based in Belgium Brussels. Wedding Photographer Fashion Photographer Product photographer Food photographer.">
    <meta itemprop="image" content="http://www.ahmadhendi.com/public/images/aboutme2.png">
                                                              <!-- itemprop end -->

                                                                    <!-- metadata end -->

                                                                  <!-- style sheet start -->
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <link rel="icon" type="image/png" href="../public/images/logo.png">
                                                                   <!-- style sheet end -->

    <!-- <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css"> -->
    
    
                                                                      <!--cdn start --> 
    <!--cdn for hover effect start--> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <!--cdn for hover effect end--> 
    
    
    <!--cdn block reveal effect start -->   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <!--cdn block reveal effect ends -->   
                                                                      <!-- cdn end -->   

      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Ahmad Hendi</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    </head>
    <body>
      <!-- nav start -->
      <div class="navbar">
        <div class="site-info">contact</div>
        <div class="site-menu">
          <a href="/presets">
            <div class="menu-item">presets</div>
          </a>
          <a href="/services">
            <div class="menu-item">services</div>
          </a>
          <a href="/workshop">
            <div class="menu-item">workshop</div>
          </a>
        </div>
      </div>
      <!-- nav end -->
      <div class="container" id="border">
        <div class="block b-1"></div>
        <div class="block b-2"></div>
        <div class="block b-3"></div>
        <div class="block b-4"></div>
        <div class="block b-5"></div>
        <div class="block b-6"></div>
        <div class="block b-7"></div>
      </div>
      <div class="overlay"></div>
      <p class="title">Aim for higher</p>
      <!-- Grid   -->
      <div>
        <div class="border"></div>
      </div>
      <!-- border   -->
     
  <div class="gallery-grid">
    <a href="/presets">
    <figure class="gallery-frame">
      <img class="gallery-img" id="services-imgs" src="../public/images/HomePage/Category/Presets.jpg" alt="Best Presets" title="Get your free preset">
      <figcaption>Presets</figcaption>
      <p id="description">  
        Edit your photos with <span style="color: #f1d38b;">One Click</span> and achieve a consistent,
        quality look across all of them.</p>
    </figure>
  </a>
  <a href="/services">
    <figure class="gallery-frame">
      <img class="gallery-img" id="services-imgs" src="../public/images/HomePage/Category/Services.jpg" alt="Ahmad Hendi's Services" title="Discover my services">
      <figcaption>Services</figcaption>
      <p id="description">let's create some contents that make you  <span style="color: #f1d38b;">Different and Unique</span>  acrcros all the platforms.</p>
    </figure>
  </a>
  <a href="/workshop">
    <figure class="gallery-frame">
      <img class="gallery-img" id="services-imgs" src="../public/images/HomePage/Category/PhotographyWorkshop.jpg" alt="Ahmad Hendi's workshop" title="photography workshop">
      <figcaption> WorkShop</figcaption>
      <p id="description">Let's unlock together the next level of possibilities!  </p>
    </figure>
  </a>
  </div>

  <!-- gallery start  -->
  <div class="gallery">
    <div class="title-gallery">
      <h1>Split Second Collection</h1>
      <a href="/gallery"><h4>see all artworks</h4></a>
      <!-- <p>bring memories to life by printing your favorite artwork.</p> -->
      <p>bring imagination to life by printing your favorite artwork.</p>
      <!-- <p>bring art to life by printing your favorite artwork.</p> -->
    </div>
    
    <a href="/TheBelgianMonarchy">
    <figure class="frame">
      <img class="gallery-img" src="../public/images/Gallery/DayOut.png" alt="Art Photography prints" title="Day Out">
      <h3 class="gallery-figcaption ">Day Out</h3>
      <p id="img-info"> 39€</p>
      <p><span style="color: #e91e63; font-family: avenir next; font-size: .6rem;">limited-editionª </span> </p>
       
    </figure>
  </a>
  <a href="/AtomiumNewYear">
    <figure class="frame">
      <img class="gallery-img" src="../public/images/Gallery/The red night.png" alt="Photography artwork" title="The Red Moon">
      <h3 class="gallery-figcaption ">The Red Moon</h3>
      <p id="img-info">
        choose your own price
      </p>
    </figure>
  </a>
  <a href="/royalpalaceOne">
    <figure class="frame">
      <img class="gallery-img" src="../public/images/Gallery/The Marols.png" alt="les marolles brussels" title="Les Marolles">
      <h3 class="gallery-figcaption ">Les Marolles </h3>
      <p id="img-info">
        choose your own price
      </p>
    </figure>
  </a>
  <a href="/AtomiumNewYear2019">
    <figure class="frame">
      <img class="gallery-img" src="../public/images/Gallery/The magic circlas.png" alt="Bright Brussels" title="The Magic Circles">
      <h3 class="gallery-figcaption ">The Magic Circles</h3>
      <p id="img-info">
        choose your own price
      </p>
    </figure>
  </a>
  <a href="/AtomiumNewYear2019">
    <figure class="frame">
      <img class="gallery-img" src="../public/images/Gallery/Breaking the dark.png" alt="Art loi brussels" title="Breaking the dark">
      <h3 class="gallery-figcaption ">Breaking the Dark</h3>
      <p id="img-info">
        290€
      </p>
      <p><span style="color: #e91e63; font-family: avenir next; font-size: .6rem;">limited-editionª </span> </p>
    </figure>
  </a>
  </div>

  <!-- gallery end  -->

      
</head>

  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <script>
        // Wrap every letter in a span
        var textWrapper = document.querySelector(".title");
        textWrapper.innerHTML = textWrapper.textContent.replace(
          /\S/g,
          "<span class='letter'>$&</span>"
        );
  
        anime.timeline().add({
          targets: ".title .letter",
          translateY: [-600, 0],
          easing: "easeOutExpo",
          duration: 1400,
          delay: (el, i) => 6500 + 30 * i,
        });
  
       

        TweenMax.staggerFrom(
          ".container > .block",
          2,
          {
            y: "160%",
            ease: Expo.easeInOut,
            delay: 1,
          },
          0.4
        );
        TweenMax.to(".overlay", 0.5, {
          y: "-10%",
          ease: Expo.easeInOut,
          delay: 5,
          opacity: 0
        });
  
        TweenMax.to(".container", 2, {
          scale: "2",
          y: "100%",
          ease: Expo.easeInOut,
          delay: 5.5,
          
        });
  
        TweenMax.from("#border", 2, {
         opacity:0,
          
        });
  
        TweenMax.staggerFrom(
          ".navbar > div",
          1.6,
          {
            opacity: 0,
            y: -100,
            ease: Expo.easeInOut,
            delay: 6,
          },
          0.08
        );
        TweenMax.staggerFrom(
          ".site-menu > div",
          1,
          {
            opacity: 0,
            y: 900,
            ease: Power2.easeOut,
            delay: 6.5,
          },
          0.1
        );
      </script>
    </body>
  </html>
                                                              <!-- block reveal effect & landig page start  -->

</body>
</html>
