<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/navigation.css">
    <title>Navigation</title>
</head>
<body>
    <div class="home">
        <ul>
            <li><a href="http://127.0.0.1:5500/views/home.html" data-text="Home">Home</a></li>
            <li><a href="http://127.0.0.1:5500/views/aboutme.html" data-text="About">AboutMe</a></li>
            <li><a href="http://127.0.0.1:5500/views/IMPOSSIBLE.html" data-text="Service">Service</a></li>
            <li><a href="#" data-text="contact">contact</a></li>
        </ul>
    </div>


</body>
</html>

 
