<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presets</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <link rel="stylesheet" href="../public/css/presets.css" />
  </head>
  <body>
    <div class="loading-screen">
      <div class="loading-section">
        <div class="title">bafore</div>
        <div class="bracket bracket1">(</div>
        <div id="loader"></div>
        <div class="bracket bracket2">)</div>
        <div class="title">after</div>
      </div>
      <div class="loading-images-container">
        <div class="loading-images">
          <img
            src="../public/images/Presets/Cinimatic/Examples/Flagey.jpg"
            alt=""
          /><img
            src="../public/images/Presets/Cinimatic/Examples/ParcCinqTwo.jpg"
            alt=""
          /><img
            src="../public/images/Presets/Cinimatic/Examples/ParcCinqOne.jpg"
            alt=""
          /><img
            src="../public/images/Presets/Cinimatic/Examples/GrandPlcaeOne.jpg"
            alt=""
          /><img
            src="../public/images/Presets/Cinimatic/Examples/ParcCinqTwo.jpg"
            alt=""
          /><img
            src="../public/images/Presets/Cinimatic/Examples/ParcCinqTwo.jpg"
            alt=""
          /><img
            src="../public/images/Presets/Warm/Examples/BCSix.jpg"
            alt=""
          /><img
            src="../public/images/LoadingBefore&After/NeigborhoodGP.jpg"
            alt=""
          /><img
            src="../public/images/HomePage/Category/Service.jpg"
            alt=""
          /><img src="../public/images/HomePage/Category/Service.jpg" alt="" />
          <img src="../public/images/HomePage/Category/Service.jpg" alt="" />
          <img
            src="../public/images/HomePage/Category/Service.jpg"
            alt=""
          /><img src="../public/images/HomePage/Category/Service.jpg" alt="" />
        </div>
        <div class="bottom-section">
          <div class="bottom-line">loading presets</div>
          <!-- <div class="bottom-line">BE CREATIVE &#169;</div> -->
        </div>
      </div>
    </div>
    <div class="welcome-screen">
      <span>
        <h1>Preset Gallery</h1>
      </span>
      <!-- <span>
        <h1>world</h1>
      </span> -->
      <p>
        Why do people use presets? <br />
        By applying presets, you can edit your photos faster and also achieve a
        consistent,<br />
        quality look across all of them. <br />
        Applying photography presets—especially professionally-created
        presets—simplifies your workflow, <br />
        saves you time, and helps your images look their best.
      </p>
    </div>
    <div class="navbar">
      <div class="site-info"><a href="/Contact">Contact</a></div>
      <div class="site-menu">
        <a href="/presets">
          <div class="menu-item">Presete</div>
        </a>
        <a href="/services">
          <div class="menu-item">Services</div>
        </a>
        <a href="/photographyworkshop">
          <div class="menu-item">Workshop</div>
        </a>
      </div>
    </div>

    <div class="gallery-grid">
      <a href="/presetDetailsSand">
        <figure class="gallery-frame">
          <img
            class="gallery-img"
            src="../public/images/Presets/Before & after/Before & After_Warm.jpg"
            alt="symbol image"
            title="symbol image"
          />
          <figcaption>Warm Sand</figcaption>
          <!-- <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ea modi. 
          Obcaecati similique reiciendis nesciunt excepturi officiis expedita iusto sit ?</p> -->
        </figure>
      </a>
      <a href="/presetDetails">
        <figure class="gallery-frame">
          <img
            class="gallery-img"
            src="../public/images/Presets/Before & after/Before&After_Cinimatic_ParcCinq.jpg"
            alt="symbol image"
            title="symbol image"
          />
          <figcaption>
            Cinematic

            <h2>Free</h2>
          </figcaption>

          <!-- <figcaption> free </figcaption> -->
          <!-- <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ea modi. 
          Obcaecati similique reiciendis nesciunt excepturi officiis expedita iusto sit ?</p> -->
        </figure>
      </a>
      <a href="/presetDetailsNightOn">
        <figure class="gallery-frame">
          <img
            class="gallery-img"
            src="../public/images/Presets/Before & after/Before&After_night_Cibimatic.jpg"
            alt="symbol image"
            title="symbol image"
          />
          <figcaption>Cold Night</figcaption>
          <!-- <figcaption>Soft Green</figcaption> -->
          <!-- <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ea modi. 
        Obcaecati similique reiciendis nesciunt excepturi officiis expedita iusto sit ?</p> -->
        </figure>
      </a>
      <a href="presetDetailsB&W">
        <figure class="gallery-frame">
          <img
            class="gallery-img"
            src="../public/images/Presets/Before & after/Before & After_Black&WhiteTwo.jpg"
            alt="symbol image"
            title="symbol image"
          />
          <figcaption>Black & White</figcaption>
          <!-- <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ea modi. 
        Obcaecati similique reiciendis nesciunt excepturi officiis expedita iusto sit ?</p> -->
        </figure>
      </a>
      <!-- <a href="/">
        <figure class="gallery-frame">
          <img
            class="gallery-img"
            src="../public/images/Presets/Before & after/Before & After_Brussels.jpg"
            alt="symbol image"
            title="symbol image"
          />
          <figcaption>Brussles</figcaption>
          <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ea modi. 
        Obcaecati similique reiciendis nesciunt excepturi officiis expedita iusto sit ?</p>
        </figure>
      </a> -->
      <!-- <a href="presetDetailsNaturalTone">
        <figure class="gallery-frame">
          <img
            class="gallery-img"
            src="../public/images/Presets/Before & after/Before & After_NatueralTwo.jpg"
            alt="symbol image"
            title="symbol image"
          />
          <figcaption>Natural Tone</figcaption>
          <p id="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ea
            modi. Obcaecati similique reiciendis nesciunt excepturi officiis
            expedita iusto sit ?
          </p>
        </figure>
      </a> -->
    </div>
    <!-- end:gallery-grid -->

    <!-- <div class="howTo">
      <div class="description">
        <h1>
          learn How to donwload presets
          <br />
          on your phone
        </h1>
      </div>
      <div class="video">
        <blockquote
          class="tiktok-embed"
          cite="https://www.tiktok.com/@ahmad_hendi_/video/7155946401921371397"
          data-video-id="7155946401921371397"
          style="max-width: 605px; min-width: 325px"
        >
          <section>
            <a
              target="_blank"
              title="@ahmad_hendi_"
              href="https://www.tiktok.com/@ahmad_hendi_?refer=embed"
              >@ahmad_hendi_</a
            >
            Autumn creative video trick.
            <a
              title="autumn"
              target="_blank"
              href="https://www.tiktok.com/tag/autumn?refer=embed"
              >#autumn</a
            >
            <a
              title="astucetelephone"
              target="_blank"
              href="https://www.tiktok.com/tag/astucetelephone?refer=embed"
              >#astucetelephone</a
            >
            <a
              title="photography"
              target="_blank"
              href="https://www.tiktok.com/tag/photography?refer=embed"
              >#photography</a
            >
            <a
              title="iphonephotography"
              target="_blank"
              href="https://www.tiktok.com/tag/iphonephotography?refer=embed"
              >#iphonephotography</a
            >
            <a
              title="astucevideo"
              target="_blank"
              href="https://www.tiktok.com/tag/astucevideo?refer=embed"
              >#astucevideo</a
            >
            <a
              target="_blank"
              title="♬ Fall in Love with You. - Montell Fish"
              href="https://www.tiktok.com/music/Fall-in-Love-with-You-7094726694582126594?refer=embed"
              >♬ Fall in Love with You. - Montell Fish</a
            >
          </section>
        </blockquote>
        <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
    </div> -->

    <script src="../public/js/loading.js"></script>
  </body>
</html>
