<!DOCTYPE html>
<html>
  <head>
    <title>Mont des arts</title>

                                                                            <!-- metadata start -->
              <meta charset="utf-8">
              <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
              <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height"/>
              <meta name="google-site-verification" content="nnEfAm3RmXrDoA8V59vBDLj3E621RItTB62pXuVHeAQ" />
              <meta name="description" content="The Mont des Arts or Kunstberg, is an urban complex and historic site in central Brussels, Belgium, including the Royal Library of Belgium, the National Archives of Belgium, the Square – Brussels Meeting Centre, and a public garden.">
              <meta name="author" content="Ahmad Hendi">
          
                                                                        <!-- Open Graph start -->
              <!-- <meta property="fb:app_id‎" content="Ahmad Hendi"> -->
              <meta property="og:title" content="Mont des arts - Brussels">
              <meta property="og:description" content="The Mont des Arts or Kunstberg, is an urban complex and historic site in central Brussels, Belgium, including the Royal Library of Belgium, the National Archives of Belgium, the Square – Brussels Meeting Centre, and a public garden.">
              <meta property="og:type" content="website">
              <meta property="og:url" content="http://www.ahmadhendi.com/productDetailTwo">
              <meta property="og:site_name" content="Ahmad Hendi">
              <meta property="og:image" content="http://www.ahmadhendi.com/public/images/aboutme2.png">
              <meta property="og:image:alt" content="Ahmad Hendi">
              <meta property="og:image:width" content="1350">
              <meta property="og:image:height" content="1080">
              
          
          
                                                                        <!-- Open Graph end -->
                                                                    <!-- *********************** -->
                                                                        <!-- itemprop start -->
              <meta itemprop="name" content="Mont des arts">
              <meta itemprop="description" content="The Mont des Arts or Kunstberg, is an urban complex and historic site in central Brussels, Belgium, including the Royal Library of Belgium, the National Archives of Belgium, the Square – Brussels Meeting Centre, and a public garden.">
              <meta itemprop="image" content="http://www.ahmadhendi.com/public/images/aboutme2.png">
                                                                        <!-- itemprop end -->
          
                                                                              <!-- metadata end -->

  <link rel="stylesheet" href="../public/css/productDetail.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />


  </head>
  <body>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "../public/images/Shop/ProductDetails/ProductTwo/MontDesArtOne.jpg" alt = "Mont des arts">
              <img src = "../public/images/Shop/ProductDetails/ProductTwo/WallPicTemplateOne.jpg" alt = "Mont des arts">
              <img src = "../public/images/Shop/ProductDetails/ProductTwo/WallPicTemplateTwo.jpg" alt = "Mont des arts">
              <img src = "../public/images/Shop/ProductDetails/ProductTwo/WallPicTemplateThree.jpg" alt = "Mont des arts">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "../public/images/Shop/ProductDetails/ProductTwo/MontDesArtOne.jpg" alt = "Mont des arts">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "../public/images/Shop/ProductDetails/ProductTwo/WallPicTemplateOne.jpg" alt = "Mont des arts">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "../public/images/Shop/ProductDetails/ProductTwo/WallPicTemplateTwo.jpg" alt = "Mont des arts">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "../public/images/Shop/ProductDetails/ProductTwo/WallPicTemplateThree.jpg" alt = "Mont des arts">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">Mont des arts</h2>
          <a href = "#" class = "product-link"></a>

          <div class = "product-price">
            <p class = "new-price">Price: <span>€70</span></p>
          </div>

          <div class = "product-detail">
            <h2>about this place: </h2>
            <p>The Mont des Arts or Kunstberg, meaning "Hill/Mount of the Arts", is an urban complex and historic site in central Brussels, Belgium, including the Royal Library of Belgium, the National Archives of Belgium, the Square – Brussels Meeting Centre, and a public garden.</p>
            <ul>
              <li>Dimension: <span>Vertical</span></li>
              <li>Available: <span>in stock</span></li>
              <li>Category: <span>Brussels Photos</span></li>
              <li>Shipping Area: <span>World Wide</span></li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <h2>Want to buy it ?  👉 </h2>
            <br>
            <button type = "button" class = "btn">
              <a href="mailto:info@ahmadhendi.com" target="blank">
                Contact Me <i class = "fas fa-shopping-cart"></i>
              </a>
            </button>
          </div>

          <div class = "social-links">
            <a href="https://www.instagram.com/p/B0LsvcoirYr/"> <i class="fab fa-instagram"></i></a>
            <a href="https://github.com/Ahmad-Hendi?tab=repositories"><i class="fab fa-github-square"></i></a>
            <a href="https://www.linkedin.com/in/ahmad-hendi-/"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:info@ahmadhendi.com"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>

    
    <script src="../public/js/productDetails.js"></script>
  </body>
</html>
