<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <meta name="Ahmad" content="Ahmad Hendi @Ahmad Hendi" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="../public/css/products.css" />

    <!-- fav Icon -->
    <link rel="icon" type="image/png" href="../public/images/logo.png" />

    <!-- greensock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- locomotive-scroll -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css"
    />

    <script
      src="https://kit.fontawesome.com/0d2578b465.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>
  </head>

  <body>
    <div class="grid-wrapper">
      <header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/presets">Presets</a></li>
          <li><a href="/services">services</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </header>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Food/4.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/sea.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/Food/13.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/wideTwo.JPG"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/BigSeven.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/TallThrertien.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Food/14.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Food/12.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Food/1.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Watchies/11.jpg"
          alt=""
        />
      </div>
      <div class="big">
        <img
          src="../public/images/Services/Photography/Products/tallsix.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/tallThree.jpg"
          alt=""
        />
      </div>
      <div class="wide">
        <img
          src="../public/images/Services/Photography/Products/wideOne.jpg"
          alt=""
        />
      </div>
      <div class="big">
        <img
          src="../public/images/Services/Photography/Products/bigTwo.jpg"
          alt=""
        />
      </div>
      <div class="big">
        <img
          src="../public/images/Services/Photography/Products/Watchies/7.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/shadow.jpg"
          alt=""
        />
      </div>
      <div class="big">
        <img
          src="../public/images/Services/Photography/Products/Watchies/6.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/bigOne.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/bigFour.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/TallTwelve.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Tallnine.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/WallThree.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/tallTwo.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/tall.JPG"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/watchYellow.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/bigThree.jpg"
          alt=""
        />
      </div>
      <div class="big">
        <img
          src="../public/images/Services/Photography/Products/bigFive.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/Big.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/Food/11.jpg"
          alt=""
        />
      </div>
      <!-- <div class="big">
        <img
          src="../public/images/Services/Photography/Products/BigSix.jpg"
          alt=""
        />
      </div> -->
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/tallFour.jpg"
          alt=""
        />
      </div>
      <div class="big">
        <img
          src="../public/images/Services/Photography/Products/tallEight.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/tallTen.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Food/2.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Watchies/9.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Watchies/8.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/Food/13.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/tallOne.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Products/TallFive.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Products/watchOne.jpg"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
