<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/service.css">
    <title>Document</title>
</head>
<body>
    <div class="landing">
        <div class="intro">
            <h2>
                blend your emotion 
            </h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            </p>
        </div>
        <div class="distrotion">  
        
        </div>
    </div>
</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/106/three.min.js" integrity="sha512-aqhdrigR8ePLi7IhiGrZz4APv1VktO5eCavRmavrNSk1Ut/s/WVlDwH94SeCqAiM0lm/s8mjtjaDhfevv2Zauw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
<script src="../public/js/hover.js"></script>
<script src="../public/js/hoverScript.js"></script>
</html> -->