<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="Ahmad" content="Ahmad Hendi @Ahmad Hendi" />
    <title>Photography</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height"
    />
    <meta
      name="google-site-verification"
      content="nnEfAm3RmXrDoA8V59vBDLj3E621RItTB62pXuVHeAQ"
    />
    <meta
      name="description"
      content="Ahmad Hendi Belgium photographer - discover photography through my lens +32472 29 29 80"
    />
    <meta name="author" content="Ahmad Hendi" />

    <!-- Open Graph start -->
    <!-- <meta property="fb:app_id‎" content="Ahmad Hendi"> -->
    <meta
      property="og:title"
      content="Belgium Photographer - Ahmad Hendi - Photographer & Videographer"
    />
    <meta
      property="og:description"
      content="Ahmad Hendi Belgium photographer - discover photography through my lens +32472 29 29 80"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ahmadhendi.com/" />
    <meta property="og:site_name" content="Ahmad Hendi" />
    <meta
      property="og:image"
      content="http://www.ahmadhendi.com/public/images/aboutme2.png"
    />
    <meta property="og:image:alt" content="Ahmad Hendi" />
    <meta property="og:image:width" content="1350" />
    <meta property="og:image:height" content="1080" />

    <!-- Open Graph end -->
    <!-- *********************** -->
    <!-- itemprop start -->
    <meta
      itemprop="name"
      content="Belgium Photographer - Ahmad Hendi - Photographer & Videographer"
    />
    <meta
      itemprop="description"
      content="Ahmad Hendi Belgium photographer - discover photography through my lens +32472 29 29 80"
    />
    <meta
      itemprop="image"
      content="http://www.ahmadhendi.com/public/images/aboutme2.png"
    />
    <!-- itemprop end -->

    <!-- metadata end -->

    <!-- stylesheet -->
    <link rel="stylesheet" href="../public/css/services.css" />

    <!-- fav Icon -->
    <link rel="icon" type="image/png" href="../public/images/logo.png" />

    <!-- greensock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- locomotive-scroll -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css"
    />

    <script
      src="https://kit.fontawesome.com/0d2578b465.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>
  </head>

  <body>
    <!-- <div class="GoBack">
      <a href="/">Home</a>
    </div> -->
    <div class="container">
      <header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/presets">Presets</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/photographyworkshop">WorkShop</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </header>
      <section class="photography">
        <div class="img-container">
          <a href="/Photography">
            <img
              src="../public/images/Services/Photography.jpg"
              alt="products photography"
            />
          </a>
          <h3>Photography</h3>
          <!-- <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
            maxime iste, dolores vel sapiente harum quis officiis quas veritatis
            nam debitis mollitia minima, optio dolor incidunt nulla! Voluptates,
            neque veniam!
          </p> -->
        </div>
      </section>
      <section class="videography">
        <div class="img-container">
          <a href="/videography">
            <video
              muted
              autoplay
              onmouseover="this.play()"
              onmouseout="this.pause(); this.currentTime=0;"
              src="../public/images/Services/Videography cover.mov"
            ></video>
          </a>
          <h3>Videography</h3>
          <!-- <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
            maxime iste, dolores vel sapiente harum quis officiis quas veritatis
            nam debitis mollitia minima, optio dolor incidunt nulla! Voluptates,
            neque veniam!
          </p> -->
        </div>
      </section>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../public/js/horizontal-scroll-script.js"></script> -->
  </body>
</html>
