<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <meta name="Ahmad" content="Ahmad Hendi @Ahmad Hendi" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="../public/css/videography.css" />

    <!-- fav Icon -->
    <link rel="icon" type="image/png" href="../public/images/logo.png" />

    <!-- greensock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- locomotive-scroll -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css"
    />

    <script
      src="https://kit.fontawesome.com/0d2578b465.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>
  </head>

  <body>
    <div class="grid-wrapper">
      <header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/presets">Presets</a></li>
          <li><a href="/services">services</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </header>
      <div class="info">
        <!-- <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eveniet 
          aliquam est, id non eaque voluptate, voluptatem at ipsa quidem 
          fuga amet praesentium quos totam ullam, aspernatur ipsum deleniti nostrum.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eveniet 
          aliquam est, id non eaque voluptate, voluptatem at ipsa quidem 
          fuga amet praesentium quos totam ullam, aspernatur ipsum deleniti nostrum.
        </p> -->
      </div>
      <div class="tall">
        <video muted playsinline  onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/1.mov" type="video/mp4"></source>
        </video>
      </div>
      <div class="tall">
        <video muted playsinline onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/2.mp4" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/3.mov" type="video/mp4"></source>
          </video>
      </div>
  
      <div class="tall">
        <video muted playsinline onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/4.mov" type="video/mp4"></source>
          </video>
      </div>
  
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/5.mov" type="video/mp4"></source>
          </video>
      </div>
  
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/6.mov" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/7.mov" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/8.mp4" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/9.mp4.mov" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/10.mov" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/11.mp4" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/12.mp4" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/Hp One.mp4" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline  onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/14.mov" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/15.mov" type="video/mp4"></source>
          </video>
      </div>
  
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/16.mov" type="video/mp4"></source>
          </video>
      </div>
  
      <div class="tall">
        <video muted playsinline  onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/17.mp4" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline  onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/18.mov" type="video/mp4"></source>
          </video>
      </div>
  
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/19.mp4" type="video/mp4"></source>
          </video>
      </div>
  
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/20.mov" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/21.mov" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/22.mp4" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline  onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/23.mp4" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline  onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/24.mov" type="video/mp4"></source>
          </video>
      </div>
      <div class="tall">
        <video muted playsinline autoplay onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
          <source src="../public/images/Services/Videography/25.mp4" type="video/mp4"></source>
          </video>
      </div>
  
    </div>
  </body>
</html>
