<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weddings</title>
    <meta name="Ahmad" content="Ahmad Hendi @Ahmad Hendi" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="../public/css/wedding.css" />

    <!-- fav Icon -->
    <link rel="icon" type="image/png" href="../public/images/logo.png" />

    <!-- greensock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- locomotive-scroll -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css"
    />

    <script
      src="https://kit.fontawesome.com/0d2578b465.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Z0P87VXQ46"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Z0P87VXQ46");
    </script>
  </head>

  <body>
    <div class="grid-wrapper">
      <header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/presets">Presets</a></li>
          <li><a href="/services">services</a></li>
          <li><a href="/Contact">contact</a></li>
        </ul>
      </header>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Asel/1.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineSeven.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Asel/2.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineOne.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Weddings/Yassine/5.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineFive.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Yassine/3.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Weddings/Asel/8.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Yassine/9.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Asel/10.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineTwo.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineThree.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Ahmed/AhmedOne.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineFour.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Ahmed/AhmedTwo.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Asel/10.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineSix.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineFive.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Asel/12.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Ahmed/AhmedThree.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Asel/11.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Yassine/8.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineEight.jpg"
          alt=""
        />
      </div>

      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Ahmed/AhmedFour.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineThirten.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Sabine/SabineFourtine.jpg"
          alt=""
        />
      </div>
      <div class="tall">
        <img
          src="../public/images/Services/Photography/Weddings/Ahmed/AhmedFive.jpg"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
