<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/Photographyworkshop.css" />
    <title>Photography Workshop</title>
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/presets">Presets</a></li>
          <li><a href="/services">services</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </header>
      <section class="photography">
        <div class="img-container" data-aos="fadeInUp">
          <img
            id="hero-img"
            src="../public/images/WorkShop/PortraitBlackandWhite.jpg"
            alt="products photography"
          />
        </div>
      </section>
      <section class="WorkShop-info">
        <div class="title">
          <h1>What will you learn ?</h1>
          <p>
            You can take many photography lessons, but if you do not practice,
            you will benefit little. I am here today offering you a course where
            I will explain to you how to use your cameras in general, and most
            importantly, we will go together on a tour to practice different
            types of photography, with more than 6 years of experience in
            photography and working with more than 100 different clients, I will
            be able to give you this Experience. <br />
            <br />

            You will learn the principles of photography, and you will be able
            to use any camera or even a phone to take beautiful pictures. We
            will also talk about a common question, <br />
            which camera should I buy ? and which lens is better ? <br />
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSe7mQNI0zRz6kDsLixqmOaI-_KbkNsPUtyZ_zGkqKPx3lNDgw/viewform?usp=pp_url"
            >
              <span style="color: yellow; text-decoration: underline">
                I am intetrsted</span
              ></a
            >
          </p>
          <div class="examples">
            <div class="ex1">
              <img
                src="../public/images/WorkShop/wedding.jpg"
                class="exs"
                alt=""
              />
            </div>
            <div class="ex1">
              <img
                src="../public/images/WorkShop/product.jpg"
                class="exs"
                alt=""
              />
            </div>
            <div class="ex1">
              <img
                src="../public/images/WorkShop/nails.jpg"
                class="exs"
                alt=""
              />
            </div>
            <div class="ex1">
              <img
                src="../public/images/WorkShop/appartement.jpg"
                class="exs"
                alt=""
              />
            </div>
            <div class="ex1">
              <img
                src="../public/images/WorkShop/pruposal.jpg"
                class="exs"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <section class="Practical-information">
        <img
          src="../public/images/WorkShop/grandplace-wherelast.jpg"
          alt=""
          id="loaction-img"
        />
        <div class="adressandtime">
          <p>
            Adress: rue the fuckong ass <br />
            Date: 25 __ februari 2023
          </p>
        </div>
      </section>
      <section class="Inscription">
        <h3>ready to unlock the next level of creativity?</h3>
        <p>
          you can choose betwen long courses or short one Long course is 4
          days.Short is only 1 day.
          <br />
          The cost for long is 1400€ The cost for long is 425€
          <br /><br />
          Morever you can have a private one send a message for more details
          about this one.
          <a href="https://www.instagram.com/?hl=en"
            ><span style="color: rgb(70, 255, 14)" id="question"
              >ask me here</span
            ></a
          >
        </p>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSe7mQNI0zRz6kDsLixqmOaI-_KbkNsPUtyZ_zGkqKPx3lNDgw/viewform?usp=pp_urlfask"
          ><span style="color: yellow"> I am intetrsted</span></a
        >
      </section>
    </div>
  </body>
</html>
