<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/Photographyworkshop.css" />
    <title>Photography Workshop</title>
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/presets">Presets</a></li>
          <li><a href="/services">services</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </header>
      <section class="photography">
        <div class="img-container" data-aos="fadeInUp">
          <img
            id="hero-img"
            src="../public/images/WorkShop/PortraitBlackandWhite.jpg"
            alt="products photography"
          />
        </div>
      </section>
      <section class="WorkShop-info">
        <div class="title">
          <h1>What will you learn ?</h1>
          <p>
            You can spend many hours watching videos and tutorials or even
            following some courses trying to learn photography without good
            results.
            <br />
            <br />
            I am offering you a course where I will show you the secret in
            photography. <br />
            Mobile phones to professional camera all are welcome. <br />
            You will learn how to use your camera to take better pictures.
            <br />
            You will be taught how to visualise and create a scene before it
            happens. <br />
            And most importantly, we will go together on a tour to practice
            different types of photography, <br />
            while practicing you will be able to have nice pictures of (free
            photo session ) if you wish.
            <br />
            <br />
            With more than 6 years of experience in photography and working with
            more than 100 different clients, I am going to give you the best
            Experience that you can ever have. <br />
            <br />

            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSe7mQNI0zRz6kDsLixqmOaI-_KbkNsPUtyZ_zGkqKPx3lNDgw/viewform?usp=pp_url"
            >
              <span style="color: rgb(180, 0, 144); text-decoration: underline">
                Next Stib</span
              ></a
            >
          </p>
          <div class="examples">
            <div class="ex1">
              <img
                src="../public/images/WorkShop/wedding.jpg"
                class="exs"
                alt=""
              />
            </div>
            <div class="ex1">
              <img
                src="../public/images/WorkShop/product.jpg"
                class="exs"
                alt=""
              />
            </div>
            <div class="ex1">
              <img
                src="../public/images/WorkShop/nails.jpg"
                class="exs"
                alt=""
              />
            </div>
            <div class="ex1">
              <img
                src="../public/images/WorkShop/appartement.jpg"
                class="exs"
                alt=""
              />
            </div>
            <div class="ex1">
              <img
                src="../public/images/WorkShop/pruposal.jpg"
                class="exs"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <section class="Practical-information">
        <img
          src="../public/images/WorkShop/grandplace-wherelast.jpg"
          alt=""
          id="loaction-img"
        />
        <div class="adressandtime">
          <p>
            Adress: Av. Boileau 16, 1040 Etterbeek <br />
            Date: 25 __ februari 2023
          </p>
        </div>
      </section>
      <section class="Inscription">
        <h3>ready to unlock the next level of creativity?</h3>
        <p>
          you can choose betwen long courses or short one Long course is 4
          days.Short is only 1 day.
          <br />
          The cost for long is
          <span
            style="color: rgb(156, 156, 156); text-decoration: line-through red"
            >(1400€)</span
          >
          900€ The cost for short is
          <span
            style="color: rgb(156, 156, 156); text-decoration: line-through red"
            >(425€)</span
          >
          375€. <br /><br />
          Morever you can have a private one ___ send a message for more details
          about this one.
          <a href="https://www.instagram.com/?hl=en"
            ><span style="color: rgb(70, 255, 14)" id="question"
              >ask me here</span
            ></a
          >
        </p>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSe7mQNI0zRz6kDsLixqmOaI-_KbkNsPUtyZ_zGkqKPx3lNDgw/viewform?usp=pp_urlfask"
          ><span style="color: yellow"> I am intetrsted</span></a
        >
      </section>
    </div>
  </body>
</html>
