@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


#js-scroll {
    background-color: rgb(48, 47, 47);
    position: ;
}
.project__container {
    width: 70%;
    margin: 40px auto;
    color: #fff;
    padding: 120px 40px;
    text-align: center;
}

.project__container-title h1{
    color: #fff;
    font-family: 'Teko', sans-serif;
    font-size: 140px;
}

.project__container-subtitle {
    margin: 20px 0;
    font-size: 16px;
}


/* navigation start  */
.container-menu{
  display: grid;
  place-content: center;
  margin-top: 20%;
}

.menu {
  position: relative;
  top: -2%;
  height: 100%;
  width: 100vh;
  display: flex;
  flex-direction: column;
}
.menu-item {
  position: relative;
  flex: 1;
  border-bottom: 1px solid white;
}

.menu span {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  color: whitesmoke;
  text-decoration: none;
  mix-blend-mode: difference;
  font-size: 70px;
  padding-left: 1rem;
  font-family: 'Teko', sans-serif;
}


.one {
  background-image: url(../images/weatherapp.jpg);
}
.two {
  background-image: url(../images/weatherapp.jpg);
}
.three {
  background-image: url(../images/ecommerce.jpg);
}
.four {
  background-image: url(../images/weatherapp.jpg);
}
.five {
  background-image: url(../images/weatherapp.jpg);
}


.hover-reveal {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, -300px);
  transition: hidden;
}

.hover-reveal__inner {
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
  overflow: hidden;
}

.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
  transform-origin: 50% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
  transform: scale(0.8, 0.8);
  transition: 1.5s transform;
}

/* navigation end  */




/* ----------------------- */
/* footer start */

.project-next-link {
    position: relative;
    top: -100px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-next-link a {
    color: #fff;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 160px;
}

.anime-js-title .letter {
    display: inline-block;
    line-height: 1em;
}

.socialMedia {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 20p;
    justify-content: center;
}
.socialMedia a{
    color: seashell;
    margin: 30px;
}
  
.project-next-link {

  margin-top: 30%;
}

/* @responsive start */

@media(max-width: 900px) {
    .project__container-title h1 {
        font-size: 40px;
    }

    .project__container {
        width: 80%;
    }

    .project__container-images {
        width: 100%;
        margin: 0 auto;
    }

    .project__image {
        width: 90%;
    }

    .project__image-one, .project__image-two, .project__image-three, .project__image-four {
        position: relative;
        top: 0;
        left: 0;
    }
    
}
@media(max-width: 700px) {
   .project-next-link a{
    font-size: 80px;
   }
   .project-next-link {
    top: 70px;
   }
   .socialMedia {

    flex-direction: column;
    font-size: 20px;
  
}
.project__image-nine{
    position: absolute;
    top: 1000;
    left: 0;
}
 .project__image-eight{
    position: absolute;
    top: 800;
    left: 0;
}
   
}
@media(max-width: 370px) {
   .project-next-link a{
    font-size: 55px;
   }

   .project__image-nine{
    position: absolute;
    top: 1000;
    left: 0;
}
 .project__image-eight{
    position: absolute;
    top: 800;
    left: 0;
}
.project__container-images {
    position: relative;
    height: 400vh;
}
   
}