@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


#js-scroll {
    background-color: rgb(24 24 24);
}



/* go back start */
.GoBack {
    position: relative;
    width: 100%;
    padding-top: 20px;
    display: grid;
    place-items: center;
    font-family: 'Teko', sans-serif;
}
.GoBack a {
    color: rgb(160, 160, 160);
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
.GoBack a:hover {
    color: #ffa600;
}
/* go back end */

.project__container {
    width: 70%;
    margin: 40px auto;
    color: #fff;
    padding: 120px 40px;
    text-align: center;
}

.project__container-title h1{
    color: #ffa600;
    font-family: 'Teko', sans-serif;
    font-size: 140px;
}

.project__container-subtitle {
    margin: 20px 0;
    font-family: "Neue Montreal";
    font-size: 16px;
}



.project__container-images {
    position: relative;
    width: 100%;
    height: 3000px;
    padding: 40px 0;
}

.project__image {
    background: red;
    width: 600px;
    height: 500px;
    margin: 40px auto;
}


.project__container-images > a {
    text-decoration: none;
    cursor: pointer;

}
.project__image-one::after {
    display: flex;
    position: absolute;
    right: 75%;
    font-size: 2.6rem;
    content: "Weddings";
    color: #fff;
    font-family: 'Neue Montreal';
}
.project__image-three::after {
    display: flex;
    position: absolute;
    right: 86%;
    font-size: 2.6rem;
    content: "Product";
    color: #fff;
    font-family: 'Neue Montreal';
}
.project__image-four::after {
    display: flex;
    position: absolute;
    right: 86%;
    font-size: 2.6rem;
    content: "Portrait";
    color: #fff;
    font-family: 'Neue Montreal';
}
.project__image-five::after {
    display: flex;
    position: absolute;
    right: 86%;
    top: 95%;
    font-size: 2.6rem;
    content: "Events";
    color: #fff;
    font-family: 'Neue Montreal';
}
.project__image-six::after {
    display: flex;
    position: absolute;
    right: 86%;
    font-size: 2.6rem;
    content: "Shop";
    color: #fff;
    font-family: 'Neue Montreal';
}

.project__image-one {
    background: url(../images/PhotographyTypes/Weddings.jpg) no-repeat 50% 50%;
    background-size: cover;
}


.project__image-three {
    position: relative;
    top: 2px;
    left: 30px;
    background: url(../images/PhotographyTypes/Products.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-four {
    position: relative;
    top: 0px;
    left: 7px;
    background: url(../images/PhotographyTypes/Portrait.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.project__image-five {
    position: relative;
    top: 0px;
    left: 30px;
    background: url(../images/PhotographyTypes/Events.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.project__image-six {
    position: relative;
    top: 0px;
    left: 7px;
    background: url(../images/PhotographyTypes/Shop.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project-next-link {
    position: relative;
    top: -100px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-next-link a {
    color: #fff;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 160px;
}

.anime-js-title .letter {
    display: inline-block;
    line-height: 1em;
}

.socialMedia {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 20p;
    justify-content: center;
}
.socialMedia a{
    color: seashell;
    margin: 30px;
}
  

@media(max-width: 900px) {
    .project__container-title h1 {
        font-size: 40px;
    }

    .project__container {
        width: 80%;
    }

    .project__container-images {
        width: 100%;
        margin: 0 auto;
    }

    .project__image {
        width: 90%;
    }

    .project__image-one, .project__image-two, .project__image-three, .project__image-four {
        position: relative;
        top: 0;
        left: 0;
    }
    
}
@media(max-width: 700px) {
   .project-next-link a{
    font-size: 80px;
   }
   .project-next-link {
    top: 70px;
   }
   .socialMedia {

    flex-direction: column;
    font-size: 20px;
  
}
.project__image-nine{
    position: absolute;
    top: 1000;
    left: 0;
}
 .project__image-eight{
    position: absolute;
    top: 800;
    left: 0;
}
   
}
@media(max-width: 370px) {
   .project-next-link a{
    font-size: 55px;
   }

.project__image-six {
    position: relative;
    left: 20px;
}
   
.project__container-images {
    position: relative;
    height: 310vh;
}
.project__image-one::after {
    font-size: 1.6rem;
    right: 59%;
}
.project__image-three::after {
    font-size: 1.6rem;
    right: 69%;
}
.project__image-four::after {
    font-size: 1.6rem;
    right: 59%;
}
.project__image-five::after {
    font-size: 1.6rem;
    right: 79%;
}
.project__image-six::after {
    font-size: 1.6rem;
}

}