@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


body {
    background-color: rgb(48, 47, 47);
}

.home {
    overflow: hidden;
}

/* menu */
/* scrollMe start */
@keyframes pulsea {
    0%, 80%, 100% { 
       text-shadow: 
       0pt 0px 0px rgba(255,255,255,0), 
       10pt 0px 0px rgba(255,255,255,0), 
       20pt 0px 0px rgba(255,255,255,0);
    }
    10% {
       text-shadow: 
       0pt 0px 0px rgba(255,255,255,0.5), 
       10pt 0px 0px rgba(255,255,255,0), 
       20pt 0px 0px rgba(255,255,255,0);
    }
    20% {
       text-shadow: 
       0pt 0px 0px rgba(255,255,255,1), 
       10pt 0px 0px rgba(255,255,255,0), 
       20pt 0px 0px rgba(255,255,255,0);
    }
    30% {
       text-shadow: 
       0pt 0px 0px rgba(255,255,255,0.5), 
       10pt 0px 0px rgba(255,255,255,0.5), 
       20pt 0px 0px rgba(255,255,255,0);
    }
    40% {
       text-shadow: 
       0pt 0px 0px rgba(255,255,255,0), 
       10pt 0px 0px rgba(255,255,255,1), 
       20pt 0px 0px rgba(255,255,255,0);
    }
    50% {
       text-shadow: 
       0pt 0px 0px rgba(255,255,255,0), 
       10pt 0px 0px rgba(255,255,255,0.5), 
       20pt 0px 0px rgba(255,255,255,0.5);
    }
    60% {
       text-shadow: 
       0pt 0px 0px rgba(255,255,255,0), 
       10pt 0px 0px rgba(255,255,255,0), 
       20pt 0px 0px rgba(255,255,255,1);
    }
    70% {
       text-shadow: 
       0pt 0px 0px rgba(255,255,255,0), 
       10pt 0px 0px rgba(255,255,255,0), 
       20pt 0px 0px rgba(255,255,255,0.5);
    }
   }
   
   .scrollme::after{
     position: absolute;
     top: 95%;
     left: 30%;
     animation: pulsea 2s linear infinite;
     font-size: 20pt;
     color: transparent; /*Using only shadows makes the animation easier*/
     font-family: FontAwesome;
     content:"\f105";
     text-shadow: 
       0pt 0px 0px rgb(241, 175, 175), 
       10pt 0px 0px rgb(219, 88, 88), 
       20pt 0px 0px rgb(192, 43, 43);
   }
/* scrollMe end */

/* go back start */
.GoBack {
    position: relative;
    width: 100%;
    padding-top: 20px;
    display: grid;
    place-items: center;
    font-family: 'Teko', sans-serif;
}
.GoBack a {
    color: rgb(160, 160, 160);
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
.GoBack a:hover {
    color: rgb(245, 245, 245);
}
/* go back end */

/* horizontal scroll items  */
.container {
    margin-top: 150px;
    margin-left: 200px;
}

.container__item {
    position: relative;
    width: 540px;
    height: 360px;
    margin: 50px 500px 20px 80px;
}

.container__item-header h1 {
    position: relative;
    top: 40px;
    left: 0;
    right: 0;
    width: 600px;
    height: 360px;
    font-size: 100px !important;
}

.container__item h1 {
    position: absolute;
    left: 40px;
    bottom: -90px;
    color: #fff;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
    font-size: 64px;
    letter-spacing: 1.5px;
}

.container__item-title a {
    color: #fff;
    text-decoration: none;
}

.container__item-1 {
    background: url(../images/Portrait.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.container__item-2 {
    background: url(../images/wedding.png) no-repeat 50% 50%;
    background-size: cover;
}

.container__item-3 {
    background: url(../images/Product.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.container__item-4 {
    background: url(../images/events.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.container__item-5 {
    background: url(../images/shop.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.container__item-1, .container__item-2, .container__item-3, .container__item-4, .container__item-5 {
    cursor: pointer;
}

@media(max-width: 900px) {
    .container__item {
        width: 300px;
        height: 200px;
        margin: 50px 100px 20px 80px;
    }

    .container__item-header h1 {
        font-size: 30px !important;
        left: -50%;
    }

    .container__item h1 {
        font-size: 40px;
        bottom: -20px;
    }
}

