/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
    background-color: black;
	padding: 45px;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
	border-radius: 15px;
}


/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
header{
	grid-column: span 5;
}
a {
	text-decoration: none;
	color: aliceblue;
}
   li {
	list-style: none;
	padding: 0px 2rem;
}


ul{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

@media screen and (max-width: 1200px) {
	header{
		grid-column: span 4;
	}
  }
@media screen and (max-width: 900px) {
	header{
		grid-column: span 3;
	}
	body {
		padding: 5px;
	}
  }
@media screen and (max-width: 600px) {
    .grid-wrapper > div {
        grid-column: span 2;
    }
    .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }
	header{
		grid-column: span 2;
	}
	li {
		padding: 0px .7rem;
	}
  }