
.container-three{
    background-color: lawngreen;
    height: 100vh;
    width: 100%;
}

.service{
    
}

.distrotion{
    /* background-color: lawngreen; */
    background-color: lawngreen;
    width: 640px;
    height: 920px;
}