

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #375543;
    /* font-family: "Kobe", Helvetica, sans-serif; */
}
img{
    width: 90%;
    border: 2px solid black;
}
video{
    width: 90%;
    border: 2px solid black;
}

p{
    padding: 1rem 2.5rem;
}
h3{
    margin: 1rem auto;
    font-size: 3rem;
    color: #f1d38b;
    font-family: "Canopee";
    font-weight: 100;
}

a {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem auto;
    text-decoration: none;
    color: black;
}

   li {
	list-style: none;
	padding: 0px 2rem;
}


ul{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}


.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px auto;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

header{
    /* background-color: aqua; */
    grid-column-start: span 3;
}

.photography{
    /* background: blue; */
    grid-column-start: span 1;
    display: flex;
}
.videography{
    /* background: rgb(2, 190, 21); */
    grid-column-start: span 2;
    display: flex;

}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



@media only screen and (max-width: 620px) {
    .container{
       grid-template-columns: 1fr;
       grid-template-rows: 40px auto auto;
    }
    header.photography.videography{
        grid-column-start: span 1;
    }
    .videography {
        grid-column-start: span 3;
    }
    h3{
        font-size: 2rem;
        margin: 0rem auto;
    }
    img{
        margin: .5rem auto;
    }
    p{
        font-size: 1rem;
    }
    
	li {
		padding: 0px .7rem;
	}
  }